<div class ="container">
	<div class="row">
		<div class="col">

			<h1>ようこそBookersへ！</h1>

			<p class="m-3"><strong>Bookers</strong>では、様々な書籍に関するあなたの意見や</p>
			<p class="m-3">
				印象を共有し交換することができます</p>
			<p class="m-3">
				<%= link_to "Show",books_path , class: "btn btn-success" %>
		</div>
	</div>
</div>